.field {
  padding: 0 !important;

  &-label {
    padding-top: 0 !important;
    font-weight: bold;
  }

  & input {
    padding: .5rem .2rem;
    border: 3px solid #000;
    margin: 0.5rem 0;
  }
}
