@use 'src/styles/vars';

.header_mobile {
  &__left {
    margin-left: 1rem;
    img {
      max-width: 150px;
    }
  }

  &__right {
    margin-right: 1rem;
    display: flex;
    align-items: flex-end;

    .FaBars {
      font-size: 2rem;
      margin-bottom: 0.5rem;
    }
  }
}
