@use 'src/styles/vars';

.header_mobile {
  img {
    max-width: 150px;
  }

  &__right {
    display: flex;
    align-items: flex-end;

    .FaBars {
      font-size: 2rem;
      margin-bottom: 0.5rem;
    }
  }
}
