@use 'src/styles/vars';



  .ingame__page__left {
    width: calc(50% - 1rem);
    background: vars.$bookPage;
    padding: 2rem;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;




  }

