@use 'src/styles/vars';

// .ingame__page__left {
//   width: calc(50% - 1rem);
//   background: vars.$bookPage;
//   padding: 2rem;
//   overflow-y: auto;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   position: relative;
//   transform-style: preserve-3d;
//   z-index: 2;

//   &::before {
//     content: "";
//     background: vars.$bookPage;
//     width: 15px;
//     height: 100%;
//     position: absolute;
//     top: 0;
//     left: 0px;
//     box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.7);
//     -webkit-box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.7);
//     -moz-box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.7);
//   }
// }

.ingame_left {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
