@use 'src/styles/vars';

.error404Right__page {
  width: calc(50% - 1rem);
  background: transparent;
  padding: 2rem;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
