@use 'src/styles/vars';

.signin {
  &__a {
    display: block;
    text-align: center;
    margin-bottom: 0.5rem;
  }
}

.password {
  position: relative;

  span {
    position: absolute;
    top: 50%;
    right: 10%;
    cursor: pointer;
  }
}
