@use 'src/styles/vars';

.story__page__right {
  width: calc(50% - 1rem);
  background: vars.$bookPage;
  padding: 2rem;
  overflow-y: auto;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    "button";
  align-items: center;

  &__button {
    grid-area: button;
  }
}
