@use 'src/styles/vars';

.shadow {
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.7);
}

.profile {
  background: vars.$background;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);
  overflow: hidden;

  &__border {
    background: vars.$book;
    border-radius: 7px;
    max-width: calc(100% - 2rem);
    height: 100%;
    width: 80%;
  }

  &__pages {
    margin: 1rem;
    background: vars.$bookPage;
    height: calc(100% - 2rem);
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
