@use 'src/styles/vars';

// .profile__page--right  {
//   width: calc(50% - 1rem);
//   background: vars.$bookPage;
//   padding: 2rem;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   position: relative;
//   transform-style: preserve-3d;
// }

.right {
//   flex-direction: column;
//   justify-content: flex-start !important;

  &--title {
//     position: relative;

//     h1 {
//       font-size: 2rem;
//       font-weight: bold;
//     }

    &--action {
      // position: absolute;
      // top: 20%;
      // right: -40%;
      float: right;
      cursor: pointer;

      & button {
        display: inline-block;
        background: none;
        border: none;
        font-size: 1.5rem;
        height: 0;
        margin: 0;
        padding: 0;
        width: 0;
        
        &:hover {
          transform: none;
        }
      }
  
//       &--menu {
//         display: inline-flex;
//         flex-direction: column;
//         position: absolute;
//         top: 30px;
//         right: -25px;
//         background: vars.$lightColor;
//         z-index: 2;
  
//         li {
//           padding: .5rem 1rem;
//           border: 3px solid vars.$darkColor;
//           cursor: pointer;
//           text-align: center;
  
//           &:last-child {
//             border-top: none;
//             color: #a61b1b;
//           }
  
//           &:hover {
//             background: vars.$darkColor;
//             color: vars.$lightColor;
  
//             &:last-child {
//               background: #a61b1b;
//             }
//           }
//         }
//       }
  
//       .menuDropdownIsOpen {
//         display: none;
//       }
//     }
  }

//   .hr {
//     height: 1px;
//     width: 50%;
//     background-image: linear-gradient(to right, vars.$bookPage, vars.$darkColor, vars.$bookPage);
//     margin: 1.5rem auto;
//   }

//   &--myProfile {
//     display: flex;
//     flex-direction: row;
//     flex-wrap: wrap;
//     justify-content: center;
//     align-items: flex-start;

//     &--image {
//       position: relative;

//       img {
//         border: 3px solid vars.$darkColor;
//         width: 150px !important;
//         height: 150px;
//       }
//     }

//     &--data {
//       display: flex;
//       flex-direction: column;
//       margin: 0 1rem;
//       text-align: left;

//       &--title {
//         display: flex;
//         flex-direction: column;
//         align-items: flex-start;

//         h2 {
//           font-weight: bold;
//           text-transform: uppercase;
//           font-size: 1.5rem;
//           margin-top: 0 !important;
//         }
//       }

//       &--mail p {
//         display: flex;
//         flex-direction: column;
//         align-items: flex-start;
//         margin: 1rem 0;

//         span {
//           font-weight: bold;
//         }
//       }

//       &--password {
//         display: flex;
//         flex-direction: column;
//         align-items: flex-start;
//         font-weight: bold;
//         position: relative;

//         span {
//           position: absolute;
//           top: 50%;
//           right: 5%;
//           cursor: pointer;
//         }
//       }

//       & button {
//         background: vars.$lightColor;
//         border: 3px solid vars.$darkColor;
//         padding: .5rem 1rem;
//         margin: .5rem 0;

//         &:hover {
//           transform: scale(0.9);
//         }
//       }
//     }

//     a {
//       margin-left: .5rem;
//     }
//   }

//   &::before {
//     content: "";
//     background: #2d1709;
//     width: 90px;
//     height: 200%;
//     position: absolute;
//     top: -60px;
//     left: -45px;
//     transform: translateZ(-1px);
//     box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.7);
//     -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.7);
//     -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.7);
//   }

//   &::after {
//     content: "";
//     background: vars.$bookPage;
//     width: 15px;
//     height: 100%;
//     position: absolute;
//     top: 0;
//     right: 0px;
//     box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.7);
//     -webkit-box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.7);
//     -moz-box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.7);
  }
}
