@use 'src/styles/vars';

.indexRight__page {
  width: calc(50% - 1rem);
  background: vars.$bookPage;
  padding: 2rem;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform-style: preserve-3d;

  a {
    background: vars.$lightColor;
    border: 3px solid vars.$darkColor;
    padding: .5rem 1rem;
    width: 100%;

    &:hover {
      transform: scale(0.9);
    }
  }

  &::before {
    content: "";
    background: #2d1709;
    width: 90px;
    height: 200%;
    position: absolute;
    top: -60px;
    left: -45px;
    transform: translateZ(-1px);
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.7);
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.7);
  }

  &::after {
    content: "";
    background: vars.$bookPage;
    width: 15px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.7);
    -webkit-box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.7);
    -moz-box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.7);
  }
}
