@use 'reset';
@use 'vars';

@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Roboto:wght@300;400;700&display=swap');

*,
body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: .5rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
    margin-bottom: .5rem;
}

p {
    font-size: 1rem;
    font-weight: normal;
    text-align: justify;
    margin-bottom: .5rem;
}

ul {
    margin-left: 2rem;
}

.ul__dot {
    list-style: square;
    margin-bottom: .5rem;
}

.hr {
    height: 1px;
    width: 50%;
    background-image: linear-gradient(to right, vars.$bookPage, vars.$darkColor, vars.$bookPage);
    margin: 1.5rem auto;
}

button,
.button {
    background: vars.$lightColor;
    color: vars.$darkColor;
    border: 3px solid vars.$darkColor;
    padding: .5rem 1rem;
    display: block;
    text-align: center;
    width: 90%;
    height: 3rem;
    margin: .5rem auto;
    font-weight: bold;
    font-size: 1rem;

    &:hover {
        background: vars.$buttonHover;
        color: vars.$lightColor;
    }
}

.border {
    background: vars.$book;
    border-radius: 10px;
    max-width: calc(100% - 2rem);
    height: 100%;
    width: 1600px;
    padding: 1rem;
}

.shadow {
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.7);
}

.pages {
    background: vars.$bookPage;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    }

.page {
    width: calc(50% - 1rem);
    padding: 2rem;
    overflow-y: auto;
    position: relative;

    &_empty {
        width: 50%;
        position: relative;
        background: vars.$book;
    }

    &_left {
        margin-left: 1rem;
        background: vars.$bookPage;
    }

    &_right {
        margin-right: 1rem;
        background: vars.$bookPage;
    }
}