@use 'src/styles/vars';

.header {
  background: vars.$background;

  &__nav {
    display: flex;
    justify-content: space-between;
    
    // * {
    //   white-space: nowrap;
    // }

    &--games {
      display: flex;

      li {
        align-self: flex-end;
        margin: 0rem 1rem;

        a {
          color: vars.$darkColor;
          display: flex;
          align-items: flex-end;

          &:hover {
            text-decoration: underline;
          }

          img {
            width: 150px;
            margin-left: 2rem;
          }

          svg {
            margin-right: .5rem;
            width: 2rem;
          }
        }
      }
    }

    &--settings {
      display: flex;
      padding: 0rem 1.5rem;

      .welcome-message {
        font-size: 1.2rem;
        font-weight: bold;
      }

      li {
        margin: 0rem 1rem;
        align-self: flex-end;

        a {
          color: vars.$darkColor;
          display: flex;
          align-items: flex-end;

          &:hover {
            text-decoration: underline;
          }

          svg {
            margin-right: .5rem;
            width: 2rem;
          }
        }
      }
    }
  }
}
