@use 'src/styles/vars';

@media screen and (max-width: 634px) {
  .header_desktop {
    display: none;
  }

  .header {
    border-bottom: solid 3px vars.$book;
  }
}

@media screen and (min-width: 635px) {
  .header_mobile {
    display: none;
  }
}

.header {
  background: vars.$background;
  margin-bottom: .5rem;
  padding: 0 1rem;
  padding-bottom: .5rem;

  &__nav {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
}
