@use 'src/styles/vars';

.menuBurger {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 1rem;
  width: 100%;
  height: 100vh;
  z-index: 2;
  background: rgb(92,54,28);
  background: -moz-radial-gradient(circle, rgba(92,54,28,1) 0%, rgba(60,31,12,1) 80%);
  background: -webkit-radial-gradient(circle, rgba(92,54,28,1) 0%, rgba(60,31,12,1) 80%);
  background: radial-gradient(circle, rgba(92,54,28,1) 0%, rgba(60,31,12,1) 80%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5c361c",endColorstr="#3c1f0c",GradientType=1);
  color: vars.$bookPage;
  text-align: center;
  animation: .3s linear moveYourAss;

  @keyframes moveYourAss {
    from {
      right: -100vw;
    }
    to {
      right: 0;
    }
  }

  .close {
    position: absolute;
    left: 5%;
    font-size: 1.5rem;
  }

  &--list {
    margin: 0;

    & li {
      padding: 1rem;

      &:first-child {
        padding: 0.5rem 1rem 1rem 1rem;
      }

      & a {
        display: inline-flex;
        justify-content: center;
        font-size: 1.2rem;

        & svg {
          margin: 0 .5rem;
        }
      }

      .user {
        font-weight: bold;
        margin-bottom: 0;
        display: inline-flex;
        justify-content: center;
        font-size: 1.2rem;
    
        & svg {
          margin: 0 .5rem;
        }
      }
    }

    & .hr {
      background-image: -webkit-gradient(linear,left top,right top,from(vars.$bookPage),color-stop(vars.$book),to(vars.$bookPage));
      background-image: linear-gradient(90deg,vars.$book,vars.$bookPage,vars.$book);
      width: 30%;
    }
  }
}
