@use 'src/styles/vars';

.header_desktop {

  .is-active {
    text-decoration: underline;
    font-weight: bold;
  }

  svg {
    margin-right: .2rem;
  }
  
  &__left {
    display: flex;
    align-items: flex-end;

    a:not(:first-child) {
      display: flex;
      align-items: center;
      margin-left: 1rem;
      padding-bottom: .45rem;
      color: vars.$darkColor;
      white-space: nowrap;
    }

    img {
      max-width: 150px;
    }
  }

  &__right {
    display: flex;
    align-items: flex-end;

    .user,
    a {
      display: flex;
      align-items: center;
      margin-left: 1rem;
      padding-bottom: .45rem;
      color: vars.$darkColor;
      white-space: nowrap;
    }

    .user {
      font-weight: bold;
    }
  }
}
