@use 'src/styles/vars';

.header_desktop {
  &__left {
    display: flex;

    li {
      align-self: flex-end;
      margin: 0rem 1rem .5rem 1rem;

      &:first-child {
        margin: 0rem 1rem;
      }

      a {
        color: vars.$darkColor;
        display: flex;
        align-items: flex-end;

        &:hover {
          text-decoration: underline;
        }

        img {
          width: 150px;
        }

        svg {
          margin-right: .5rem;
          width: 2rem;
        }
      }

      & .is-active {
        text-decoration: underline;
        font-weight: bold;
      }

    }
  }

  &__right {
    display: flex;
    padding: 0rem 1.5rem;

    .welcome-message {
      font-size: 1.2rem;
      font-weight: bold;
      display: flex;
      align-items: center;

      svg {
        margin-right: .5rem;
        width: 2rem;
      }
    }

    li {
      align-self: flex-end;
      margin: 0rem 1rem .5rem 1rem;

      a {
        color: vars.$darkColor;
        display: flex;
        align-items: flex-end;

        &:hover {
          text-decoration: underline;
        }

        svg {
          margin-right: .5rem;
          width: 2rem;
        }
      }

      .user {
        font-weight: bold;
        margin-bottom: 0;
        display: flex;

        & svg {
          margin-right: .5rem;
        }
      }
    }
  }
}
