@use 'src/styles/vars';

.footer {
  background: vars.$background;
  padding: 2rem 3rem;

  // pour mobile
  @media screen and (max-width: 560px) {
    padding-bottom: 1rem;
  }

  // pour desktop
  @media screen and (min-width: 561px) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__logo {
    img {
      display: block;
      margin: 0 auto;
      width: 150px;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    // pour mobile
    @media screen and (max-width: 560px) {
      padding-top: 1rem;
      align-items: center;
    }

    &--reseaux {
      display: flex;

      // pour mobile
      @media screen and (max-width: 560px) {
        margin-left: 0;
      }

      li {
        margin-left: 1rem;

        // pour mobile
        @media screen and (max-width: 560px) {
          margin: 0 0.5rem;
        }

        .link {
          font-size: 1.5rem;
          opacity: .3;

          &:hover {
            transform: none;
            cursor: not-allowed;
          }
        }
      }
    }

    &--aboutUs {
      margin: 1rem 0;

      &:hover {
        text-decoration: underline;
      }
    }

    &--copyright {
      text-align: center;

      span {
        font-family: 'Marck Script', cursive;
      }
    }
  }
}
