@use 'src/styles/vars';

.profile__page--left  {
  width: calc(50% - 1rem);
  background: vars.$bookPage;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  & .illustration {
    min-width: 250px;
  }

  &::before {
    content: "";
    background: vars.$bookPage;
    width: 15px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0px;
    box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.7);
    -webkit-box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.7);
    -moz-box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.7);
  }
} 


