@use 'src/styles/vars';

.profile__page  {
  width: calc(50% - 1rem);
  background: vars.$bookPage;
  padding: 2rem 2rem 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  & .illustration {
    min-width: 250px;
  }
} 


