@use 'src/styles/vars';

    .ingame__page__right {
      height: 100%;
      width: 50%;
      width: calc(50% - 1rem);
      background: vars.$bookPage;
      padding: 2rem;
      


      &__fake_image {
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
  
  
        &--150 {
          width: 150px;
          height: 150px;
        }
  
        &--50 {
          width: 50px;
          height: 50px;
        }
      }

      &__title {
        margin-bottom: 3rem;
      }
      
      &__stats {
        display: grid;
        width: calc(150px + 8rem + 4rem);
        margin: 0 auto;
        grid-template-columns: 150px 8rem 4rem;
        grid-template-rows: auto auto;
        grid-template-areas: 
          "stats_illustration stats_title stats_title"
          "stats_illustration stats_name  stats_value";
        margin-bottom: 1.5rem;

          &__illustration {
            grid-area: stats_illustration;
          }

          &__title {
            grid-area: stats_title;
            justify-self: start;
            padding-left: 1rem;
          }

          &__name {
            grid-area: stats_name;
          }

          &__value {
            grid-area: stats_value;
          }
      }

      &__equipments {
        display: flex;
        flex-direction: row;
        justify-content: center;

        &__item {
          margin: 1rem;
          text-align: center;

          &__value {
            margin: .5rem;
          }
        }
      } 

      &__stats {
        grid-area: stats;
        justify-self: start;
      }

      &__equipments {
        grid-area: equipments;
      }

      &__weapon {
        grid-area: weapon;
      }

      &__armor {
        grid-area: armor;
      }

      &__accessory {
        grid-area: accessory;
      }

      &__inventory {
        height: calc(100% - 22rem);
        min-height: 8rem;

        &__scroller {
          margin-top: 1rem;
          justify-content: center;
          border: solid 3px black;
          height: calc(100% - 3rem);
          width: 100%;
          
          overflow-y: scroll;
          scrollbar-color: rebeccapurple green;
          scrollbar-width: thin;
        }


      }
    }
  



