@use 'src/styles/vars';

.shadow {
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.7);
}

.ingame {
  background: vars.$background;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);
  overflow: hidden;

  &__border {
    background: vars.$book;
    border-radius: 7px;
    max-width: calc(100% - 2rem);
    height: 100%;
    width: 80%;
  }
  
  &__pages {
    margin: 1rem;
    background: vars.$bookPage;
    height: calc(100% - 2rem);
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__page {
    width: calc(50% - 1rem);
    background: vars.$bookPage;
    padding: 2rem;
    overflow-y: auto;

    &__fake_image {
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: center;


      &--150 {
        width: 150px;
        height: 150px;
      }

      &--50 {
        width: 50px;
        height: 50px;
      }
    }

    &__right {
      height: 100%;
      width: 50%;

      &__title {
        margin-bottom: 1rem;
      }
      
      &__stats {
        display: grid;
        width: calc(150px + 8rem + 4rem);
        margin: 0 auto;
        grid-template-columns: 150px 8rem 4rem;
        grid-template-rows: auto auto;
        grid-template-areas: 
          "stats_illustration stats_title stats_title"
          "stats_illustration stats_name  stats_value";
        margin-bottom: 1.5rem;

          &__illustration {
            grid-area: stats_illustration;
          }

          &__title {
            grid-area: stats_title;
            justify-self: start;
            padding-left: 1rem;
          }

          &__name {
            grid-area: stats_name;
          }

          &__value {
            grid-area: stats_value;
          }
      }

      &__equipments {
        display: flex;
        flex-direction: row;
        justify-content: center;

        &__item {
          margin: 1rem;
          text-align: center;

          &__value {
            margin: .5rem;
          }
        }
      } 

    
    
      &__stats {
        grid-area: stats;
        justify-self: start;
      }

      &__equipments {
        grid-area: equipments;
      }

      &__weapon {
        grid-area: weapon;
      }

      &__armor {
        grid-area: armor;
      }

      &__accessory {
        grid-area: accessory;
      }




    
      &__inventory {
        height: calc(100% - 22rem);
        min-height: 8rem;


        &__scroller {
          margin-top: 2rem;
          justify-content: center;
          border: solid 2px black;
          height: calc(100% - 3rem);
          width: 100%;
          
          overflow-y: scroll;
          scrollbar-color: rebeccapurple green;
          scrollbar-width: thin;
        }

      }




    }
  }

  h1 {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
  }

  h2 {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
  }

  .hr {
    height: 1px;
    width: 50%;
    background-image: linear-gradient(to right, vars.$bookPage, vars.$darkColor, vars.$bookPage);
    margin: 1.5rem auto;
  }

  p {
    text-align: justify;
    margin: .5rem 0;
  }


  ul {
    margin-top: 1rem;
    margin-left: 2rem;

    
  }
  li {
    margin-top: 0.5rem;
  }

  img {
    width: 6rem;
  }


  button {
    background: blue;
    color: white;
    border: 3px solid #000;
    padding: .5rem 1rem;
    display: block;
    text-align: center;
    width: 90%;
    height: 3rem;
    margin: 0 auto;

    &:hover {
      transform: scale(0.9);
    }

  }
}

