@use 'src/styles/vars';

.select_character {
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  padding-top: 100px;

  &__content {
    padding: 0.5rem;
    position: relative;
    margin: auto;
    background-color: vars.$background;
    border: solid 5px vars.$book;
    width: 90%;
    max-width: 400px;
  }
    
  &__list {
    display: flex;
    flex-wrap: wrap;
  }
  &__fake_image {
    grid-area: fake_image;

    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;

    &--50 {
      width: 50px;
      height: 50px;
    }

    &--100 {
      width: 100px;
      height: 100px;
    }
  }

  .fit-picture {
    width: 4rem;
  }

  .bold {
    font-weight: 700;
  }

  &__stats__title {
    grid-area: stats_title;
    justify-self: start;
    padding-left: 1rem;
  }
}
